/* Edited with EditCSS */
/**** LINK-tag style sheet main.css ****/



body  {padding:20px 0; background:#FFF; font:0.8em/1.5 "verdana",sans-serif; color:#000; }

#main {width:720px; margin:0 auto; text-align:left;  padding-left: 40px; padding-right: 40px;
padding-bottom: 40px; margin-top: 20px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 5px;

}
h2{font-size:200%;font-weight:bold;color:#005f84; clear: both;}
h3{font-size:140%;font-weight:normal;color:#005f84;}

a {color:#005d9b;}
a:hover {color:#000;}


.phpl {background:url(../design/phpl.png) 0 0 no-repeat;	width: 150px; height: 70px; float: left;
	}
.phpr {background:url(../design/phpr.png) 0 0 no-repeat;	width: 70px; height: 70px;  position: absolute; right: 0px;}

.logo {background:url(../design/logo.png) 0 0 no-repeat;	width: 269px; height: 75px;  margin: auto; 
	}


.logo h1, .reference span, .uvod span, .kontakt span {display:none;
	}


p img {
border: 2px #ccc solid; float: left; 
}
.popis {
margin-left: 320px;
display: block;
margin-top: -10px;
}





.menu {
height: 40px;
padding-top: 1px;
margin-left: -40px;
margin-right: -40px;
background-color: #ccc;
border-radius: 5px 5px 0 0;
}
.menu a {
    float: left;
    margin-right: 10px;
    background-color: #fff;
    padding: 4px 15px;
border-radius: 5px 5px 0 0;
font-weight: bold;


}
.menu a:hover {

    background-color: #ccc;
color: #000;

}
.menu ul {


list-style:none;
}



.paticka {	width: 720px; height: 60px; 


margin: auto;
padding-top: 20px;
text-align: center;


}


.clanek2 {padding-bottom: 20px; width: 580px; margin-bottom: 40px; border-bottom: 1px #bababa dashed;}

.clanek2 h2 {font-size: 120%; line-height: 5px;}


.archivaktiv {
float: left;
border: 1px #CCC solid;
padding: 5px 10px;
margin: 5px;
border-radius: 8px;
}
.archiv {
float: left;
background-color: #e7e7e7;
border: 1px #CCC solid;
padding: 5px 10px;
margin: 5px;
font-weight: bold;
border-radius: 8px;

}
.archiv-a {
float: left;
padding-top: 5px;
margin-top: 10px;
}
.stitek {

background-color: #e7e7e7;
border-radius: 8px;
border: 1px #CCC solid;
padding: 5px 10px;
margin-right: 10px;
line-height: 30pt;
}
